.expenses{
    display: flex;
    background-color:#f7eedd;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif;
}

.expenses-title{
    display:flex;
    flex-direction: row;
}

.expenses-amount {
    align-self: center;
    border: 2px solid wheat;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: larger;
    font-weight:900;
    background-color: #41c9e2;
    color: black;

}

.expenses-title h2{
    margin-left: 0px;
    color: black;
    font-weight: bold
}

